{# --- title: Index page --- #}
{# IMPORTING DATA COMPONENTS #}
{% import "data/_cards.html" as cards_set %}
{% import "data/_selects.html" as selects_set %}
{# IMPORTING MIXINS #}
{% import "partials/_mixins.html" as mixins %}
{% import "components/_titles.html" as titles %}
{% import "components/_cards.html" as cards_builder %}
{% import "components/_sm-toggle-buttons.html" as toggle %}
{% import "components/_select.html" as select_builder %}
{% import "components/_breadcrumb.html" as breadcrumb %}
{% import "components/_range.html" as range_input %}
{% import "components/_dropdown-menu.html" as dd_menu %}
{% import "components/_filter.html" as filter %}
{# MAIN LAYOUT #}
{% extends "layouts/_layout.html" %}
{% block content %}
    {{header_gbo.header({
        logo: {
            description: 
                {
                    'text_top': 'Gift delivery to USA and internationally',
                    'text_bottom': 'Gift baskets to Hawaii'
                }
            }

    })}}
    <div class="gift-deliver-to">
        <div class="gift-deliver-to__container inner">
            {# BREADCRUMBS #}
            <div class="gift-deliver-to__breadcrumbs">
                {{breadcrumb.make([ {"class": "no-underline"}, {"text": "Home", "link": "ui.html"}, {"text": "Gift baskets to Brazil", "active":
            true} ]) }}
            </div>
        </div>

        {% include "components/_slider.html" %}
        {# TITLE #}
        <div class="gift-deliver-to__container inner">
            <div class="gift-deliver-to__header-text">
                <div class="gift-deliver-to__main-title">
                    {{titles.titleBig('Personal & corporate gift delivery to Brazil')}}
                </div>
                <p class="d-sm-none">
                    GiftBasketsOverseas.com. Our Gift Hampers & VIP Gifts delivered to Brazil include only the highest quality View our
                    <a class="text-link" href="#">Gourmet Items</a>,
                    <a class="text-link" href="#">Chocolat Baskets</a>,
                    <a class="text-link" href="#">Flowers and business gifts delivered to Brazil</a>
                </p>
            </div>
        </div>

        <div class="gift-deliver-to__special special">
            <div class="gift-deliver-to__container inner">
                {# FILTERING AREA #}
                <div class="gift-deliver-to__filter">
                    {{toggle.filter_buttons()}}
                    {{filter.filter_3_selects_with_label()}}
                </div>
            </div>
        </div>

        <main class="gift-deliver-to__main">
            <div class="gift-deliver-to__container inner">
                <section class="gift-deliver-to__descr d-sm-none">
                    <div class="gift-deliver-to__descr-text">
                        <h3 class="gift-deliver-to__title">Consider our service to send corporate gift baskets Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ratione reprehenderit pariatur fugit quaerat laboriosam ipsam dicta excepturi minima et deserunt nisi laudantium sapiente facere id dolorem, aperiam aut quae.</h3>
                        <div class="text-big">
                            <p>Send Gift Baskets and Food Hampers to Brazil for your loved ones, friends and business associates. With us you can avoid hassle of dealing with Customs when shipping a gift to Brazil yourself.</p>
                            <p>Our Gift Hampers & VIP Gifts delivered to Brazil include only the highest quality ingredients including upscale champagne, imported wines, delicious cheeses, freshest fruits and various Gifts for serious gift aristocrats. View our
                                <a class="text-link" href="#">Gourmet Items</a>,
                                <a class="text-link" href="#">Chocolat Baskets</a>,
                                <a class="text-link" href="#">Flowers and business gifts delivered to Brazil</a>
                            </p>
                        </div>
                    </div>
                    <div class="gift-deliver-to__service">
                        <h3 class="gift-deliver-to__title">Brazil Gift Basket Service</h3>
                        <div class="delivery-card card-with-icons">
                            <div class="delivery-card__img card-with-icons-image">
                                {{mixins.icon('cargo-track')}}
                            </div>
                            <div class="delivery-card__text">
                                <div class="delivery-card__title card-with-icons-title">
                                    Delivery Time In brazil
                                </div>
                                <div class="delivery-card__text card-with-icons-text">
                                    in 1-2 biz days
                                </div>
                            </div>
                        </div>
                        <div class="delivery-card delivery-card--dark-green card-with-icons">
                            <div class="delivery-card__img card-with-icons-image">
                                {{mixins.icon('free')}}
                            </div>
                            <div class="delivery-card__text">
                                <div class="delivery-card__title card-with-icons-title">
                                    Delivery Fee
                                </div>
                                <div class="delivery-card__text card-with-icons-text">
                                    $25 USD
                                </div>
                            </div>
                        </div>
                        <div class="delivery-card delivery-card--blue card-with-icons">
                            <div class="delivery-card__img card-with-icons-image">
                                {{mixins.icon('clock-blue')}}
                            </div>
                            <div class="delivery-card__text">
                                <div class="delivery-card__title card-with-icons-title">
                                    Current Time In brazil
                                </div>
                                <div class="delivery-card__text card-with-icons-text">
                                    04:03 AM (Apr 21)
                                </div>
                            </div>
                        </div>
                        <div class="gift-deliver-to__motto text-big--italic">We deliver to any address in Brazil</div>
                    </div>
                </section>
                <div class="gift-deliver-to__cards-top">
                    <div class="cards sm-one-column js-cards-container">
                        {{cards_builder.card(cards_set.cardsDeliverTo)}}
                    </div>
                </div>
                <div class="gift-deliver-to__motto-bottom d-sm-none">
                    <h5 class="subtitle">
                        You can review a
                        <a href="#" class="text-link">list of holidays in Brazil</a>
                        to get information on
                        <a href="#" class="text-link">Brazil holiday traditions</a>
                    </h5>
                    <h3 class="gift-deliver-to__title">
                        Send corporate gift hampers in Brazil to the following locations (and their vicinities)
                    </h3>
                </div>
                <div class="gift-deliver-to__cities-menu">
                    {{dd_menu.menu_2()}}
                </div>
                <div class="gift-deliver-to__cards-bottom">
                    <div class="cards sm-one-column js-cards-container">
                        {{cards_builder.card(cards_set.cardsDeliverToBottom)}}
                    </div>
                </div>
                <div class="gift-deliver-to__filter-bottom">
                    <h5 class="subtitle gift-deliver-to__filter-title">
                        Interested to have gift delivered to Brazil from your country?
                    </h5>
                    <div class="filter__select-wrapper">
                        <a href="#" class="select-country-flag">
                            <img class="js-selected-counry-flag" src="./assets/img/general/ru.png" alt="">
                        </a>
                        <div class="select-image">
                            <img src="./assets/img/general/globus-ico.png" alt="">
                        </div>
                        <div class="select-select">
                            {# SELECTOR-1 #}
                            {{select_builder.sel(selects_set.countriesSelect)}}
                        </div>
                    </div>
                </div>
            </main>
        </div>
        {% include "components/_subscribe.html" %}
        {% include "partials/_footer.html" %}
    {% endblock %}