{% set
columns = [
		[
				{
						"title": 'Worldwide Service',
						"list": [
								{
										"text": "Gifts to Africa",
										"link": "#"
								}, {
										"text": "Gifts to Asia",
										"link": "#"
								}, {
										"text": "Gifts to Caribbean",
										"link": "#"
								}, {
										"text": "Gifts to Europe",
										"link": "#"
								}, {
										"text": "Gifts to Middle East",
										"link": "#"
								}, {
										"text": "Gifts to Latin America",
										"link": "#"
								}, {
										"text": "Gifts to North America",
										"link": "#"
								}, {
										"text": "Gifts to Oceania",
										"link": "#"
								}
						]
				}, {
						"title": 'Customer Care',
						"list": [
								{
										"text": "Contact Us 24x7",
										"link": "#"
								}, {
										"text": "About Us",
										"link": "#"
								}, {
										"text": "Delivery Policy",
										"link": "#"
								}, {
										"text": "Delivery Area",
										"link": "#"
								}, {
										"text": "FAQ",
										"link": "#"
								}, {
										"text": "How to Order",
										"link": "#"
								}, {
										"text": "Payments",
										"link": "#"
								}, {
										"text": "Testimonials",
										"link": "#"
								}, {
										"text": "Track Order",
										"link": "#"
								}

						]
				}
		],
		[
				{
						"title": 'Gift Types',
						"list": [
								{
										"text": "Baby Gift Baskets",
										"link": "#"
								}, {
										"text": "Beer Gift Baskets",
										"link": "#"
								}, {
										"text": "Cakes",
										"link": "#"
								}, {
										"text": "Champagne Gifts",
										"link": "#"
								}, {
										"text": "Chocolate Gift Baskets",
										"link": "#"
								}, {
										"text": "New Year Gift Baskets",
										"link": "#"
								}, {
										"text": "Corporate Gifts",
										"link": "#"
								}, {
										"text": "Flowers",
										"link": "#"
								}, {
										"text": "Fruit Baskets",
										"link": "#"
								}, {
										"text": "Gift Towers",
										"link": "#"
								}, {
										"text": "Gourmet Gift Baskets",
										"link": "#"
								}, {
										"text": "Jewelry",
										"link": "#"
								}, {
										"text": "Kosher Gift Baskets",
										"link": "#"
								}, {
										"text": "Spa Gifts",
										"link": "#"
								}, {
										"text": "Spirits",
										"link": "#"
								}, {
										"text": "Sweet Bouquets",
										"link": "#"
								}, {
										"text": "Sweet Gourmet Gifts",
										"link": "#"
								}, {
										"text": "Tea Coffee Gifts",
										"link": "#"
								}, {
										"text": "Wine Gift Baskets",
										"link": "#"
								}
						]
				}, {
						"title": 'Speciality',
						"list": [
								{
										"text": "Gluten Free Gift Baskets",
										"link": "#"
								}
						]
				}
		],
		[
		{
				"title": 'Occasions',
				"list": [
						{
								"text": "Anniversary Gift Baskets",
								"link": "#"
						}, {
								"text": "Apology Gift Baskets",
								"link": "#"
						}, {
								"text": "Back to School Gifts",
								"link": "#"
						}, {
								"text": "Birthday Gift Baskets",
								"link": "#"
						}, {
								"text": "Boss Day",
								"link": "#"
						}, {
								"text": "Congratulations Gifts",
								"link": "#"
						}, {
								"text": "Get Well Gifts",
								"link": "#"
						}, {
								"text": "Graduation Gifts",
								"link": "#"
						}, {
								"text": "Housewarming Gift Baskets",
								"link": "#"
						}, {
								"text": "Romantic Gifts",
								"link": "#"
						}, {
								"text": "Thank You Gifts",
								"link": "#"
						}, {
								"text": "Wedding Gifts",
								"link": "#"
						}
				]
		}, {
				"title": 'Gift recipients',
				"list": [
						{
								"text": "Gifts For Bosses",
								"link": "#"
						}, {
								"text": "Gifts For Bussiness Associates",
								"link": "#"
						}, {
								"text": "Gifts For Couples",
								"link": "#"
						}, {
								"text": "Gifts For Exchange Students",
								"link": "#"
						}, {
								"text": "Gifts For Fathers",
								"link": "#"
						}, {
								"text": "Gifts For Friends",
								"link": "#"
						}, {
								"text": "Gifts For Host Family",
								"link": "#"
						}, {
								"text": "Gifts For Kids",
								"link": "#"
						}, {
								"text": "Gifts For Men",
								"link": "#"
						}, 
						{
								"text": "Gifts For Women",
								"link": "#"
						}

				]
		}
],
[
		{
				"title": 'International Holidays',
				"list": [
						{
								"text": "Chinese New Year Gifts",
								"link": "#"
						}, {
								"text": "Diwali Gift Baskets",
								"link": "#"
						}, {
								"text": "Easter Gift Baskets",
								"link": "#"
						}, {
								"text": "Fathers Day Gifts",
								"link": "#"
						}, {
								"text": "Chocolate Gift Baskets",
								"link": "#"
						}, {
								"text": "New Year Gift Baskets",
								"link": "#"
						}, {
								"text": "Corporate Gifts",
								"link": "#"
						}, {
								"text": "Flowers",
								"link": "#"
						}, {
								"text": "Fruit Baskets",
								"link": "#"
						}, {
								"text": "Gift Towers",
								"link": "#"
						}, {
								"text": "Gourmet Gift Baskets",
								"link": "#"
						}, {
								"text": "Jewelry",
								"link": "#"
						}, {
								"text": "Kosher Gift Baskets",
								"link": "#"
						}, {
								"text": "Spa Gifts",
								"link": "#"
						}, {
								"text": "Spirits",
								"link": "#"
						}, {
								"text": "Sweet Bouquets",
								"link": "#"
						}, {
								"text": "Sweet Gourmet Gifts",
								"link": "#"
						}, {
								"text": "Tea Coffee Gifts",
								"link": "#"
						}, {
								"text": "Wine Gift Baskets",
								"link": "#"
						}
				]
		}, {
				"title": 'Speciality',
				"list": [
						{
								"text": "Gluten Free Gift Baskets",
								"link": "#"
						}
				]
		}
]

] %}

{% for column in columns %}
		<div class="footer__column">
				{% for item in column %}
						<div class="footer-menu">
								<h4 class="footer-menu__title">
										{{item.title}}
								</h4>
								<ul class="footer-menu__list">
										{% for list in item.list %}
												<li class="footer-menu__item">
													<a href="{{list.link}}" class="footer-menu__link">{{list.text}}</a>
												</li>
										{% endfor %}
								</ul>
						</div>
				{% endfor %}
		</div>
{% endfor %}

{# <div class="catalog row">
		<div class="col3">
				{{CatalogColumn(CatalogColumn1)}}
		</div>
		<div class="col3">
				{{CatalogColumn(CatalogColumn2)}}
		</div>
		<div class="col3">
				{{CatalogColumn(CatalogColumn3)}}
		</div>
		<div class="col3">
				{{CatalogColumn(CatalogColumn4)}}
		</div>
</div> #}