<div class="carousel js-carousel-dots owl-carousel">
	<div class="carousel__slide" style="background-image: url(./assets/img/general/carousel/flower1.jpeg)">
		<h4 class="carousel__title">Happy Passover!</h4>
		<div class="carousel__price">
			Get 
			<span class="carousel__number">$7 USD </span> 
			off any order with coupon code: 
			<span class="carousel__number">1WSR54</span>
		</div>
		<button class='btn carousel__btn'>Shop now</button>
		<div class="carousel__valid-time">The coupon is valid until March, 20</div>
	</div>
	<div class="carousel__slide" style="background-image: url(./assets/img/general/carousel/flower2.jpeg)">
		<h4 class="carousel__title">Happy Passover!</h4>
		<div class="carousel__price">
			Get 
			<span class="carousel__number">$7 USD </span> 
			off any order with coupon code: 
			<span class="carousel__number">1WSR54</span>
		</div>
		<button class='btn carousel__btn'>Shop now</button>
		<div class="carousel__valid-time">The coupon is valid until March, 20</div>
	</div>
	<div class="carousel__slide" style="background-image: url(./assets/img/general/carousel/flower3.jpeg)">
		<h4 class="carousel__title">Happy Passover!</h4>
		<div class="carousel__price">
			Get 
			<span class="carousel__number">$7 USD </span> 
			off any order with coupon code: 
			<span class="carousel__number">1WSR54</span>
		</div>
		<button class='btn carousel__btn'>Shop now</button>
		<div class="carousel__valid-time">The coupon is valid until March, 20</div>
	</div>
	<div class="carousel__slide" style="background-image: url(./assets/img/general/carousel/flower4.jpeg)">
		<h4 class="carousel__title">Happy Passover!</h4>
		<div class="carousel__price">
			Get 
			<span class="carousel__number">$7 USD </span> 
			off any order with coupon code: 
			<span class="carousel__number">1WSR54</span>
		</div>
		<button class='btn carousel__btn'>Shop now</button>
		<div class="carousel__valid-time">The coupon is valid until March, 20</div>
	</div>
	<div class="carousel__slide" style="background-image: url(./assets/img/general/carousel/flower1.jpeg)">
		<h4 class="carousel__title">Happy Passover!</h4>
		<div class="carousel__price">
			Get 
			<span class="carousel__number">$7 USD </span> 
			off any order with coupon code: 
			<span class="carousel__number">1WSR54</span>
		</div>
		<button class='btn carousel__btn'>Shop now</button>
		<div class="carousel__valid-time">The coupon is valid until March, 20</div>
	</div>
</div>