{% set c= [
		{
				"title": 'Gifts in Brazil',
				"list": [
						{
								"text": "Same day delivery",
								"link": "https://www.giftbasketsoverseas.com/specialty-themes/Same-Day-Delivery-to-brazil.htm",
								"icon": "24-hours"
						}, {
								"text": "Baby Gift Baskets",
								"link": "https://www.giftbasketsoverseas.com/gifts/Baby-Gift-Baskets-in-brazil.htm"
						}, {
								"text": "Balloons",
								"link": "https://www.giftbasketsoverseas.com/gifts/Balloons-in-brazil.htm"
						}, {
								"text": "Beer Gift Baskets",
								"link": "https://www.giftbasketsoverseas.com/gifts/Beer-Gift-Baskets-in-brazil.htm"
						}, {
								"text": "Cakes",
								"link": "#"
						}, {
								"text": "Champagne Gifts",
								"link": "#"
						}, {
								"text": "Chokolate Gift Baskets",
								"link": "#"
						}, {
								"text": "Cookies Gifts",
								"link": "#"
						}, {
								"text": "Corporate Gifts",
								"link": "#",
								"icon": "gift-box"
						},
						{
								"text": "Fathers Day Gifts",
								"link": "#",
								"icon": "gift-box"
						},
						{
								"text": "Flowers",
								"link": "#"
						},
						{
								"text": "Fruit Baskets",
								"link": "#"
						},
						{
								"text": "Gift Towers",
								"link": "#"
						},
						{
								"text": "Gourmet Gift Baskets",
								"link": "#"
						},
						{
								"text": "Mothers Day Gifts",
								"link": "#",
								"icon": "gift-box"
						},
						{
								"text": "Spa Gifts",
								"link": "#"
						},
						{
								"text": "Spirits",
								"link": "#"
						},
						{
								"text": "Sweet Gourmet Gifts",
								"link": "#"
						},
						{
								"text": "Tea Coffee Gifts",
								"link": "#"
						},
						{
								"text": "Toys and Games",
								"link": "#"
						},
						{
								"text": "Wine Gift Baskets",
								"link": "#"
						},
												{
								"text": "Alcohol Free Gifts",
								"link": "#",
								"icon": "no-alcohol"
						},
												{
								"text": "Mothers Day Gifts",
								"link": "#",
								"icon": "gift-box"
						},
												{
								"text": "Mothers Day Gifts",
								"link": "#",
								"icon": "gift-box"
						}
				]
		}, 
		{
				"title": ' Occasions & Sentiments',
				"list": [
						{
								"text": "Anniversary Gift Baskets",
								"link": "#"
						}, {
								"text": "Apology Gift Baskets",
								"link": "#"
						}, {
								"text": "Birthday Gift Baskets",
								"link": "#"
						}, {
								"text": "Get Well Gifts",
								"link": "#"
						}, {
								"text": "Graduation Gifts",
								"link": "#"
						}, {
								"text": "Housewarming Gift Baskets",
								"link": "#"
						}, {
								"text": "Just Because",
								"link": "#"
						}, {
								"text": "Retirement Gifts",
								"link": "#"
						}, {
								"text": "Sympathy And Funeral",
								"link": "#"
						}, {
								"text": "Thank You Gifts",
								"link": "#"
						}, {
								"text": "Wedding Gifts",
								"link": "#"
						}, {
								"text": "Your Style & Budget",
								"link": "#"
						}
					]
		},
				{
				"title": ' Holidays in Brazil',
				"list": [
						{
								"text": "Back To School Gifts",
								"link": "#"
						}, {
								"text": "Christmas Gifts",
								"link": "#"
						}, {
								"text": "Easter Gifts",
								"link": "#"
						}, {
								"text": "February 14",
								"link": "#"
						}, {
								"text": "Gifts For Father",
								"link": "#",
								"icon": "gift-box"
						}, {
								"text": "Gifts For Mother",
								"link": "#",
								"icon": "gift-box"
						}, {
								"text": "Halloween Gifts",
								"link": "#"
						}, {
								"text": "Hanukkah Gifts",
								"link": "#"
						}, {
								"text": "March 8 Gifts",
								"link": "#"
						}, {
								"text": "New Year Gifts",
								"link": "#"
						}, {
								"text": "Thanksgiving Gifts",
								"link": "#"
						}, {
								"text": "Your Style & Budget",
								"link": "#"
						}
					]
		},
		{
				"title": 'Recipients in Brazil',
				"list": [
						{
								"text": "Gifts For Bosses",
								"link": "#"
						}, {
								"text": "Gifts For Business Associates",
								"link": "#"
						}, {
								"text": "Gifts For Couples",
								"link": "#"
						}, {
								"text": "Gifts For Exchange Students",
								"link": "#"
						}, {
								"text": "Gifts For Friends",
								"link": "#"
						}, {
								"text": "Gifts For Host Family",
								"link": "#"
						}, {
								"text": "Gifts For Kids",
								"link": "#"
						}, {
								"text": "Gifts For Men",
								"link": "#"
						}, {
								"text": "Gifts For Newborns",
								"link": "#"
						}, {
								"text": "Gifts For Women",
								"link": "#"
						}
					]
		},
		{
				"title": 'Specialty Themes',
				"list": [
						{
								"text": "American Gifts",
								"link": "#"
						}, {
								"text": "Breakfast Baskets",
								"link": "#"
						}, {
								"text": "British Gifts",
								"link": "#"
						}, {
								"text": "Cheese Gift Baskets",
								"link": "#"
						}, {
								"text": "For Expecting Mothers",
								"link": "#"
						}, {
								"text": "Gluten Free Gift Baskets",
								"link": "#"
						}, {
								"text": "Irish Gifts",
								"link": "#"
						}, {
								"text": "Italian Gifts",
								"link": "#"
						}, {
								"text": "Same Day Delivery",
								"link": "#"
						}, {
								"text": "Study Abroad Gifts",
								"link": "#"
						}, {
								"text": "Team Gift Baskets",
								"link": "#"
						}, {
								"text": "Vegetarian Gift Baskets",
								"link": "#"
						}, {
								"text": "Vitamin Baskets",
								"link": "#"
						}, {
								"text": "Bouquet Builder",
								"link": "#"
						}, {
								"text": "Basket Builder",
								"link": "#"
						}
					]
		}
] %}

{% for item in c %}
	<div class="js-accordion-open js-accordion sidebar-menu">
		<h4 class="js-accordion-header sidebar-menu__header">
			{{item.title}}
			{{mixins.icon('chevron-down')}}
		</h4>
		<ul class="js-accordion-list sidebar-menu__list">
			{% for list in item.list %}
				<li class="sidebar-menu__item">
					{% if list.icon %}
						<a href="{{list.link}}">
							<span class="sidebar-menu__icon">{{mixins.icon(list.icon)}}</span> 
							<span class="sidebar-menu__link sidebar-menu__link--special">{{list.text}}
						</a>
					{% elif list.text === 'Bouquet Builder' or list.text === 'Basket Builder' %}
						<a href="{{list.link}}" class="sidebar-menu__link sidebar-menu__link--builder">{{list.text}}</a>
					{% else %}
						<a href="{{list.link}}" class="sidebar-menu__link">{{list.text}}</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endfor %}