{% import "partials/_mixins.html" as mixins %}

{% macro filter_buttons() %}
<div class="card-sm-buttons">
    <div class="js-cards-1-column card-sm-button is-active">
        {{mixins.icon('square-inside-a-circle')}}
    </div>
    <div class="js-cards-2-columns card-sm-button">
        {{mixins.icon('four-squares-button')}}
    </div>
    <div class="sm-filter-btn-wrapper">
        <button class="btn btn-rounded btn-rounded_green btn-load-more sm-filter-btn js-sm-filter-btn">Filter</button>
    </div>
</div>
{% endmacro %}

{% macro buttons() %}
<div class="card-sm-buttons">
    <div class="js-cards-1-column card-sm-button is-active">
        {{mixins.icon('square-inside-a-circle')}}
    </div>
    <div class="js-cards-2-columns card-sm-button">
        {{mixins.icon('four-squares-button')}}
    </div>
</div>
{% endmacro %}

{% macro filter() %}
<div class="card-sm-buttons">
    <div class="sm-filter-btn-wrapper">
        <button class="btn btn-rounded btn-rounded_green btn-load-more sm-filter-btn js-sm-filter-btn">Filter</button>
    </div>
</div>
{% endmacro %}