{% set cardsCategoryPage = [
				{
								"size": "big col-4 col-md-33",
								"image": {
												"src": "gift_img_1.jpg",
												"link": "#"
								},
								"free_mark": 
		{
			"image": "chocolate-free.png"
		},
								"title": {
												"text": "Endless Connection Necklace in Rose",
												"link": "#"
								},
								"title_divider": true,
								"id": "11019",
								"price": "333.33",
								"select": {
												"name ": "sel1",
												"id": "sel1",
												"placeholder": "sel1",
												"options": [
																{
																				"value": "1",
																				"title": "€ 526.83 (EUR)"
																}, {
																				"value": "2",
																				"title": "€ 126.83 (EUR)"
																}
												]
								}
				}, {
								"size": "big col-4 col-md-33",
								"image": {
												"src": "gift_img_1.jpg",
												"link": "#"
								},
								"title": {
												"text": "Morning Delights Coffee Cake",
												"link": "#"
								},
								"title_divider": true,
								"id": "5056",
								"price": "333.33",
								"select": {
												"name": "sel2",
												"id": "sel2",
												"placeholder": "sel1",
												"options": [
																{
																				"value": "2",
																				"title": "Occasions"
																}, {
																				"value": "3",
																				"title": "Any ocassion"
																}
												]
								}
				}, {
								"size": "big col-4 col-md-33",
								"image": {
												"src": "gift_img_2.jpg",
												"link": "#"
								},
								"title": {
												"text": "Mixed Tulips Selection",
												"link": "#"
								},
								"title_divider": true,
								"id": "8056",
								"price": "333.33",
								"select": {
												"name": "sel3",
												"id": "sel3 ",
												"placeholder": "sel3",
												"options": [
																{
																				"value": "1",
																				"title": "€ 526.83 (EUR)"
																}, {
																				"value": "2",
																				"title": "€ 526.83 (EUR)"
																}, {
																				"value": "3",
																				"title": "€ 526.83 (EUR)"
																}, {
																				"value": "4",
																				"title": "€ 526.83 (EUR)"
																}
												]
								}
				}, {
								"size": "big col-4 col-md-33",
								"image": {
												"src": "gift_img_4.jpg",
												"link": "#"
								},
								"title": {
												"text": "Twist of Fate Adjustable Ring",
												"link": "#"
								},
								"title_divider": true,
								"id": "11024",
								"price": "27.77",
								"select": {
												"name": "sel4",
												"id": "sel4",
												"placeholder": "sel4",
												"options": [
																{
																				"value": "1",
																				"title": "€ 526.83 (EUR)"
																}, {
																				"value": "2",
																				"title": "€ 526.83 (EUR)"
																}, {
																				"value": "3",
																				"title": "€ 526.83 (EUR)"
																}, {
																				"value": "4",
																				"title": "€ 526.83 (EUR)"
																}
												]
								}
				}, {
								"size": "big col-4 col-md-33",
								"image": {
												"src": "gift_img_1.jpg",
												"link": "#"
								},
								"free_mark": 
		{
			"image": "chocolate-free.png"
		},
								"title": {
												"text": "Endless Connection Necklace in Rose",
												"link": "#"
								},
								"title_divider": true,
								"id": "11019",
								"price": "333.33",
								"select": {
												"name": "sel5",
												"id": "sel5",
												"placeholder": "sel5",
												"options": [
																{
																				"value": "1",
																				"title": "€ 526.83 (EUR)"
																}, {
																				"value": "2",
																				"title": "€ 126.83 (EUR)"
																}
												]
								}
				}, {
								"size": "big col-4 col-md-33",
								"image": {
												"src": "gift_img_1.jpg",
												"link": "#"
								},
								"title": {
												"text": "Morning Delights Coffee Cake",
												"link": "#"
								},
								"title_divider": true,
								"id": " 5056 ",
								"price": "333.33",
								"select": {
												"name": "sel6",
												"id": "sel6",
												"placeholder": "sel6",
												"options": [
																{
																				"value": "2",
																				"title": "Occasions"
																}, {
																				"value": "3",
																				"title": "Any ocassion"
																}
												]
								}
				}, {
								"size": "big col-4 col-md-33",
								"image": {
												"src": "gift_img_2.jpg",
												"link": "#"
								},
								"title": {
												"text": "Mixed Tulips Selection",
												"link": "#"
								},
								"title_divider": true,
								"id": "8056",
								"price": "333.33",
								"select": {
												"name": "sel7",
												"id": "sel7",
												"placeholder": "sel7",
												"options": [
																{
																				"value": "1",
																				"title": "€ 526.83 (EUR)"
																}, {
																				"value": "2",
																				"title": "€ 526.83 (EUR)"
																}, {
																				"value": "3",
																				"title": "€ 526.83 (EUR)"
																}, {
																				"value": "4",
																				"title": "€ 526.83 (EUR)"
																}
												]
								}
				}, {
								"size": "big col-4 col-md-33",
								"image": {
												"src": "gift_img_4.jpg",
												"link": "#"
								},
								"title": {
												"text": "Twist of Fate Adjustable Ring",
												"link": "#"
								},
								"title_divider": true,
								"id": " 11024 ",
								"price": "277.99",
								"select": {
												"name": "sel8",
												"id": "sel8",
												"placeholder": "sel8",
												"options": [
																{
																				"value": "1",
																				"title": "€ 226.83 (EUR)"

																}, {
																				"value": "2",
																				"title": "€ 577.83 (EUR)"
																}, {
																				"value": "3",
																				"title": "€ 111526.83 (EUR)"
																}, {
																				"value": "4",
																				"title": "€ 27.83 (EUR)"
																}
												]
								}
				}
] %}

{% set cardSmall_1 = {
 "image": {
  "src": "glass1.png",
  "link": "#"
 },
 "title": "Square Glass",
 "id": " 20018",
 "price": "7.99"
} %}

{% set cardSmall_2 = {
 "image": {
  "src": "glass2.png"
 },
 "title": "Glass Ginger",
 "id": " 20018",
 "price": "6.99"
} %}

{% set usaCards = [
	{
		"size": "middle col-25 col-md-33",
		"image": 
			{
				"src": "gift_img_11.png",
				"link": "#"
			},
		"title": 
			{
				"text": "Love Burst Bouquet for your friends in Hawaii. EXTRA TEXT FOR ALIGNING",
				"link": "#"
			},
		"title_divider": true,
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            },
		"button_link_divider": true,
		"link": 
			{
                "link_link": "#",
                "link_text": "More Flowers"
            }
	},
	{
		"size": "middle col-25 col-md-33",
		"image": 
			{
				"src": "gift_img_12.png", 
				"link": "#"
			},
		"title": 
			{
				"text": "Christmas Coffee Break Gift Basket Shipped to",
				"link": "#"
			},
		"title_divider": true,
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            },
		"button_link_divider": true,
		"link": 
			{
                "link_link": "#",
                "link_text": "More Tea-Coffee-Gifts"
            }
	},
	{
		"size": "middle col-25 col-md-33",
		"image": 
			{
				"src": "gift_img_13.png",
				"link": "#"
			},
		"title": 
			{
				"text": "Sunset memoris with delivery to hawaii",
				"link": "#"
			},
		"title_divider": true,
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            },
		"button_link_divider": true,
		"link": 
			{
                "link_link": "#",
                "link_text": "More sympathy-flowers"
            }
	},
	{
		"size": "middle col-25 col-md-33",
		"image": 
			{
				"src": "gift_img_14.png",
				"link": "#"
			},
		"title": 
			{
				"text": "Gift of the day",
				"link": "#"
			},
		"title_divider": true,
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	},
	{
		"size": "middle col-25 col-md-33",
		"image": 
			{
				"src": "gift_img_15.png",
				"link": "#"
			},
		"title": 
			{
				"text": "Corporate bulk & orders",
				"link": "#"
			},
		"title_divider": true
	},
	{
		"size": "middle col-25 col-md-33",
		"image": 
			{
				"src": "gift_img_16.png"
			},
		"title": 
			{
				"text": "Build your own gift basket [?]",
				"link": "#"
			},
		"title_divider": true
	}
]%}

{% set brazilCardsForSlider = [
	[{
		"size": "slider",
		"image": 
			{
				"src": "gift_img_11.png",
				"link": "#"
			},
		"title":
			{
				"text": "corporate gift baskets",
				"link": "#"
			},	
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	}],
	[{
		"size": "slider",
		"image": 
			{
				"src": "gift_img_12.png",
				"link": "#"
			},
		"title":
			{
				"text": "corporate gift baskets",
				"link": "#"
			},	
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	}],
	[{
		"size": "slider",
		"image": 
			{
				"src": "gift_img_14.png",
				"link": "#"
			},
		"title":
			{
				"text": "corporate gift baskets",
				"link": "#"
			},	
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	}],
		[{
		"size": "slider",
		"image": 
			{
				"src": "gift_img_14.png",
				"link": "#"
			},
		"title":
			{
				"text": "corporate gift baskets",
				"link": "#"
			},	
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	}],
	[{
		"size": "slider",
		"image": 
			{
				"src": "gift_img_15.png",
				"link": "#"
			},
		"title":
			{
				"text": "corporate gift baskets",
				"link": "#"
			},	
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	}],
		[{
		"size": "slider",
		"image": 
			{
				"src": "gift_img_16.png",
				"link": "#"
			},
		"title": 
		{
			"text": "corporate gift baskets",
			"link": "#"
		},	
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	}]

]%}

{% set brazilCardsTo = [
	{
		"size": "middle col-3 col-md-50",
		"image": 
			{
				"src": "gift_img_21.png",
				"link": "#"
			},
		"title":
			{
				"text": "teddy bears and flowers gift backt shipped to brazil",
				"link": "#"
			},
		"title_divider": true,
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	},
	{
		"size": "middle col-3 col-md-50",
		"image": 
			{
				"src": "gift_img_22.png",
				"link": "#"
			},
		"title":
			{
				"text": "hennesy and sweets set for your friends in brazil",
				"link": "#"
			},
		"title_divider": true,
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	},
	{
		"size": "middle col-3 col-md-50",
		"image": 
			{
				"src": "gift_img_23.png",
				"link": "#"
			},
		"title":
			{
				"text": "forest of roses bouquet with delivery to brazil",
				"link": "#"
			},
		"title_divider": true,
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	},
	{
		"size": "middle col-3 col-md-50",
		"image": 
			{
				"src": "gift_img_24.png",
				"link": "#"
			},
		"title":
			{
				"text": "gourmet chokolate delight delivered to brazil",
				"link": "#"
			},
		"title_divider": true,
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	},
	{
		"size": "middle col-3 col-md-50",
		"image": 
			{
				"src": "gift_img_23.png",
				"link": "#"
			},
		"title":
			{
				"text": "forest of roses bouquet with delivery to brazil",
				"link": "#"
			},
		"title_divider": true,
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	},
	{
		"size": "middle col-3 col-md-50",
		"image": 
			{
				"src": "gift_img_21.png",
				"link": "#"
			},
		"title":
			{
				"text": "teddy bears and flowers gift backt shipped to brazil",
				"link": "#"
			},
		"title_divider": true,
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	}
]%}

{% set cardsDeliverTo = [
	{
		"size": "middle col-4 col-md-50",
		"image": 
			{
				"src": "gift_img_21.png",
				"link": "#"
			},
		"title": 
			{
				"text": "teddy bears and flowers gift backt shipped to brazil",
				"link": "#"
			},
		"title_divider": true,
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	},
	{
		"size": "middle col-4 col-md-50",
		"image": 
			{
				"src": "gift_img_22.png",
				"link": "#"
			},
		"title": 
			{
				"text": "hennesy and sweets set for your friends in brazil",
				"link": "#"
			},
		"title_divider": true,
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	},
	{
		"size": "middle col-4 col-md-50",
		"image": 
			{
				"src": "gift_img_23.png",
				"link": "#"
			},
		"title": 
			{
				"text": "forest of roses bouquet with delivery to brazil",
				"link": "#"
			},
		"title_divider": true,
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	},
	{
		"size": "middle col-4 col-md-50",
		"image": 
			{
				"src": "gift_img_24.png",
				"link": "#"
			},
		"title": 
			{
				"text": "gourmet chokolate delight delivered to brazil",
				"link": "#"
			},
		"title_divider": true,
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	},
	{
		"size": "middle col-4 col-md-50",
		"image": 
			{
				"src": "gift_img_23.png",
				"link": "#"
			},
		"title": 
			{
				"text": "forest of roses bouquet with delivery to brazil",
				"link": "#"
			},
		"title_divider": true,
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	},
	{
		"size": "middle col-4 col-md-50",
		"image": 
			{
				"src": "gift_img_21.png",
				"link": "#"
			},
		"title": 
			{
				"text": "teddy bears and flowers gift backt shipped to brazil",
				"link": "#"
			},
		"title_divider": true,
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	},
	{
		"size": "middle col-4 col-md-50",
		"image": 
			{
				"src": "gift_img_21.png",
				"link": "#"
			},
		"title": 
			{
				"text": "teddy bears and flowers gift backt shipped to brazil",
				"link": "#"
			},
		"title_divider": true,
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	},
	{
		"size": "middle col-4 col-md-50",
		"image": 
			{
				"src": "gift_img_21.png",
				"link": "#"
			},
		"title":
		{
			"text": "teddy bears and flowers gift backt shipped to brazil",
			"link": "#"
		},
		"title_divider": true,
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Details"
            }
	}
]%}

{% set cardsDeliverToBottom = [
	{
		"size": "middle col-4 col-md-50",
		"image": 
			{
				"src": "gift_img_21.png",
				"link": "#"
			},
		"free_mark": 
		{
			"image": "chocolate-free.png"
		},
		"title":
			{
				"text": "gift of the day",
				"link": "#"
			}
	},
	{
		"size": "middle col-4 col-md-50",
		"image": 
			{
				"src": "gift_img_21.png",
				"link": "#"
			},
		"title": 
			{
				"text": "romantic holiday ideas for delivery in brazil",
				"link": "#"
			}
	},
	{
		"size": "middle col-4 col-md-50",
		"image": 
			{
				"src": "gift_img_21.png",
				"link": "#"
			},
		"title": 
			{
				"text": "romantic holiday ideas for delivery in brazil",
				"link": "#"
			}
	},
	{
		"size": "middle col-4 col-md-50",
		"image": 
			{
				"src": "gift_img_21.png",
				"link": "#"
			},
		"free_mark": 
		{
			"image": "chocolate-free.png"
		},
		"title": 
			{
				"text": "gift of the day",
				"link": "#"
			}
	}
	
]%}

{% set cardsOnlineCatalogSet = [
	{
			"size": "big col-4 col-md-333",
			"image": {
					"src": "gift_img_1.jpg",
					"link": "#"
			},
			"free_mark": 
			{
				"image": "chocolate-free.png"
			},
			"title": 
				{
					"text": "Endless Connection Necklace in Rose",
					"link": "#"
				},
			"title_divider": true,
			"id": "11019",
			"button_link": 
			{
                "link_link": "#",
                "link_text": "Buy now", 
				"modifier": "card__button-link--thin"
            },
			"price": "333.33",
			"select": {
					"name ": "sel1",
					"id": "sel1",
					"placeholder": "sel1",
					"options": [
							{
									"value": "1",
									"title": "€ 526.83 (EUR)"
							}, {
									"value": "2",
									"title": "€ 126.83 (EUR)"
							}
					]
			}
	}, {
			"size": "big col-4 col-md-333",
			"image": {
					"src": "gift_img_1.jpg",
					"link": "#"
			},
			"title": 
				{
					"text": "Morning Delights Coffee Cake",
					"link": "#"
				},
			"title_divider": true,
			"id": "5056",
			"button_link": 
			{
                "link_link": "#",
                "link_text": "Buy now",
				"modifier": "card__button-link--thin"
            },
			"price": "333.33",
			"select": {
					"name": "sel2",
					"id": "sel2",
					"placeholder": "sel1",
					"options": [
							{
									"value": "2",
									"title": "Occasions"
							}, {
									"value": "3",
									"title": "Any ocassion"
							}
					]
			}
	}, {
			"size": "big col-4 col-md-333",
			"image": {
					"src": "gift_img_2.jpg",
					"link": "#"
			},
			"title": 
			{
				"text": "Mixed Tulips Selection",
				"link": "#"
			},
			"title_divider": true,
			"id": "8056",
			"button_link": 
			{
                "link_link": "#",
                "link_text": "Buy now",
				"modifier": "card__button-link--thin"
            },
			"price": "277.99",
			"select": {
					"name": "sel3",
					"id": "sel3 ",
					"placeholder": "sel3",
					"options": [
							{
									"value": "1",
									"title": "€ 526.83 (EUR)"
							}, {
									"value": "2",
									"title": "€ 526.83 (EUR)"
							}, {
									"value": "3",
									"title": "€ 526.83 (EUR)"
							}, {
									"value": "4",
									"title": "€ 526.83 (EUR)"
							}
					]
			}
	}, {
			"size": "big col-4 col-md-333",
			"image": {
					"src": "gift_img_4.jpg",
					"link": "#"
			},
			"title": 
			{
				"text": "Twist of Fate Adjustable Ring",
				"link": "#"
			},
			"title_divider": true,
			"id": "11024",
			"button_link": 
			{
                "link_link": "#",
                "link_text": "Buy now",
				"modifier": "card__button-link--thin"
            },
			"price": "526.83",
			"select": {
					"name": "sel4",
					"id": "sel4",
					"placeholder": "sel4",
					"options": [
							{
									"value": "1",
									"title": "€ 526.83 (EUR)"
							}, {
									"value": "2",
									"title": "€ 626.83 (EUR)"
							}, {
									"value": "3",
									"title": "€ 699.99 (EUR)"
							}, {
									"value": "4",
									"title": "€ 526.83 (EUR)"
							}
					]
			}
	}, {
			"size": "big col-4 col-md-333",
			"image": {
					"src": "gift_img_1.jpg",
					"link": "#"
			},
			"free_mark": 
			{
				"image": "chocolate-free.png"
			},
			"title": 
				{
					"text": "Endless Connection Necklace in Rose",
					"link": "#"
				},
			"title_divider": true,
			"id": "11019",
			"button_link": 
			{
                "link_link": "#",
                "link_text": "Buy now",
				"modifier": "card__button-link--thin"
            },
			"price": "333.33",
			"select": {
					"name": "sel5",
					"id": "sel5",
					"placeholder": "sel5",
					"options": [
							{
									"value": "1",
									"title": "€ 526.83 (EUR)"
							}, {
									"value": "2",
									"title": "€ 126.83 (EUR)"
							}
					]
			}
	}, {
			"size": "big col-4 col-md-333",
			"image": {
					"src": "gift_img_1.jpg",
					"link": "#"
			},
			"title": 
				{
					"text": "Morning Delights Coffee Cake",
					"link": "#"
				},
			"title_divider": true,
			"id": " 5056 ",
			"button_link": 
			{
                "link_link": "#",
                "link_text": "Buy now",
				"modifier": "card__button-link--thin"
            },
			"price": "333.33",
			"select": {
					"name": "sel6",
					"id": "sel6",
					"placeholder": "sel6",
					"options": [
							{
									"value": "2",
									"title": "Occasions"
							}, {
									"value": "3",
									"title": "Any ocassion"
							}
					]
			}
	}, {
			"size": "big col-4 col-md-333",
			"image": {
					"src": "gift_img_2.jpg",
					"link": "#"
			},
			"title": 
				{
					"text": "Mixed Tulips Selection",
					"link": "#"
				},
			"title_divider": true,
			"id": "8056",
			"button_link": 
			{
                "link_link": "#",
                "link_text": "Buy now",
				"modifier": "card__button-link--thin"
            },
			"price": "283.99",
			"select": {
					"name": "sel7",
					"id": "sel7",
					"placeholder": "sel7",
					"options": [
							{
									"value": "1",
									"title": "€ 526.83 (EUR)"
							}, {
									"value": "2",
									"title": "€ 826.83 (EUR)"
							}, {
									"value": "3",
									"title": "€ 126.83 (EUR)"
							}, {
									"value": "4",
									"title": "€ 426.83 (EUR)"
							}
					]
			}
	}, {
			"size": "big col-4 col-md-333",
			"image": {
					"src": "gift_img_4.jpg",
					"link": "#"
			},
			"title": 
				{
					"text": "Twist of Fate Adjustable Ring",
					"link": "#"
				},
			"title_divider": true,
			"id": " 11024 ",
			"button_link": 
			{
                "link_link": "#",
                "link_text": "Buy now",
				"modifier": "card__button-link--thin"
            },
			"price": "priceselection",
			"select": {
					"name": "sel8",
					"id": "sel8",
					"placeholder": "sel8",
					"options": [
							{
									"value": "1",
									"title": "€ 526.83 (EUR)"

							}, {
									"value": "2",
									"title": "€ 526.83 (EUR)"
							}, {
									"value": "3",
									"title": "€ 526.83 (EUR)"
							}, {
									"value": "4",
									"title": "€ 526.83 (EUR)"
							}
					]
			}
	}
] %}

{% set cardsInternationalSet = [
	{
		"size": "minimal col-4 col-md-333",
		"image": 
			{
				"src": "gift_img_2.jpg",
				"link": "#"
			},
		"free_mark": 
			{
				"image": "gift-wizard.png"
			},
		"title": 
			{
				"text": "birthday gifts",
				"link": "#"
			}
	}, {
		"size": "minimal col-4 col-md-333",
		"image": 
			{
				"src": "gift_img_8.jpg",
				"link": "#"
			},
		"title": 
			{
				"text": "build a basket[?]",
				"link": "#"
			}
	}, {
		"size": "minimal col-4 col-md-333",
		"image": 
			{
				"src": "gift_img_3.jpg",
				"link": "#"
			},
		"free_mark": 
			{
				"image": "chocolate-free.png"
			},
		"title": 
			{
				"text": "romantic baskets to middle east",
				"link": "#"
			}
	}, {
		"size": "minimal col-4 col-md-333",
		"image": 
			{
				"src": "gift_img_1.jpg",
				"link": "#"
			},
		"title": 
			{
				"text": "twist of fate adjustable ring in",
				"link": "#"
			}
	}
] %}

{% set cardsMain = [
	{
		"size": "middle col-4 col-md-33",
		"image": 
			{
				"src": "gift_img_11.png",
				"link": "#"
			},
		"title": 
			{
				"text": "Bunny Bouquet",
				"link": "#"
			},
		"title_divider": {
				"modifier": "divider-blue"
			},
		"button_link": 
			{
                "link_link": "#",
                "link_text": "Select country",
				"modifier": "card__button-link--thin"
            }
	},
	{
		"size": "middle col-4 col-md-33",
		"image": 
			{
				"src": "gift_img_12.png",
				"link": "#"
			},
		"title": 
			{
				"text": "Godiva Indulgence for Easter",
				"link": "#"
			},
		"title_divider": {
				"modifier": "divider-blue"
			},
		"button_link": 
			{
                "link_link": "#",
                "link_text": "select country",
				"modifier": "card__button-link--thin"
            }
	},
	{
		"size": "middle col-4 col-md-33",
		"image": 
			{
				"src": "gift_img_13.png",
				"link": "#"
			},
		"title": 
			{
				"text": "Bright Delight",
				"link": "#"
			},
		"title_divider": {
				"modifier": "divider-blue"
			},
		"button_link": 
			{
                "link_link": "#",
                "link_text": "select country",
				"modifier": "card__button-link--thin"
            }
	},
	{
		"size": "middle col-4 col-md-33",
		"image": 
			{
				"src": "gift_img_14.png",
				"link": "#"
			},
		"title": 
			{
				"text": "beer party",
				"link": "#"
			},
		"title_divider": {
				"modifier": "divider-blue"
			},
		"button_link": 
			{
                "link_link": "#",
                "link_text": "select country",
				"modifier": "card__button-link--thin"
            }
	},
	{
		"size": "middle col-4 col-md-33",
		"image": 
			{
				"src": "gift_img_16.png",
				"link": "#"
			},
		"title": 
			{
				"text": "Piece Of Heaven",
				"link": "#"
			},
		"title_divider": {
				"modifier": "divider-blue"
			},
		"button_link": 
			{
                "link_link": "#",
                "link_text": "select country",
				"modifier": "card__button-link--thin"
            }
	},
	{
		"size": "middle col-4 col-md-33",
		"image": 
			{
				"src": "gift_img_15.png",
				"link": "#"
			},
		"title": 
			{
				"text": "Decadent Delights Gift Basket",
				"link": "#"
			},
		"title_divider": {
				"modifier": "divider-blue"
			},
		"button_link": 
			{
                "link_link": "#",
                "link_text": "select country",
				"modifier": "card__button-link--thin"
            }
	},
	{
		"size": "middle col-4 col-md-33",
		"image": 
			{
				"src": "gift_img_17.png",
				"link": "#"
			},
		"title": 
			{
				"text": "vip easter",
				"link": "#"
			},
		"title_divider": {
				"modifier": "divider-blue"
			},
		"button_link": 
			{
                "link_link": "#",
                "link_text": "select country",
				"modifier": "card__button-link--thin"
            }
	},
	{
		"size": "middle col-4 col-md-33",
		"image": 
			{
				"src": "gift_img_18.png",
				"link": "#"
			},
		"title":
		{
			"text": "Country Freshness",
			"link": "#"
		},
		"title_divider": {
				"modifier": "divider-blue"
			},
		"button_link": 
			{
                "link_link": "#",
                "link_text": "select coutry",
				"modifier": "card__button-link--thin"
            }
	}
]%}