{% set countriesSelect = {

		"name": "countries",
		"id": "countries",
		"placeholder": "sel1",
		"withFlag": true,
		"options": [
				{
						"value": "1",
						"title": "Russia", 
						"image": 'russia_flag'
				}, {
						"value": "2",
						"title": "Ukraine",
						"image": 'ukraine_flag'
				}, {
						"value": "3",
						"title": "France",
						"image": 'france_flag'
				}, {
						"value": "4",
						"title": "Germany",
						"image": 'germany_flag'
				}, {
						"value": "44",
						"title": "USA",
						"image": 'usa_flag'
				}, {
						"value": "53",
						"title": "Australia",
						"image": 'australia_flag'
				}
		]
} %}

	

{% set destinationCountries = {
		"name": "destination",
		"id": "destination-countries",
		"placeholder": "Select Destination Country",
		"options": [
				{
						"value": "",
						"title": ""
				},
				{
						"value": "1",
						"title": "Russia"

				}, {
						"value": "2",
						"title": "Ukraine"

				}, {
						"value": "3",
						"title": "Latvia"

				}, {
						"value": "4",
						"title": "Lithuania"
				},
								{
						"value": "5",
						"title": "Estonia"

				}, {
						"value": "6",
						"title": "Belarus"

				}, {
						"value": "7",
						"title": "Kazakhstan"

				}, {
						"value": "8",
						"title": "Moldova"
				},				{
						"value": "9",
						"title": "Uzbekistan"

				}, {
						"value": "10",
						"title": "Azerbaijan"

				}, {
						"value": "11",
						"title": "Kyrgyzstan"

				}, {
						"value": "12",
						"title": "Armenia"
				}
		]
} %}

{% set destinationMain = {
		"name": "gift-destination",
		"id": "gift-destination",
		"placeholder": "Select Gift Destination",
		"options": [
				{
						"value": "",
						"title": ""
				},
				{
						"value": "1",
						"title": "Russia"

				}, {
						"value": "2",
						"title": "Ukraine"

				}, {
						"value": "3",
						"title": "Latvia"

				}, {
						"value": "4",
						"title": "Lithuania"
				},
								{
						"value": "5",
						"title": "Estonia"

				}, {
						"value": "6",
						"title": "Belarus"

				}, {
						"value": "7",
						"title": "Kazakhstan"

				}, {
						"value": "8",
						"title": "Moldova"
				},				{
						"value": "9",
						"title": "Uzbekistan"

				}, {
						"value": "10",
						"title": "Azerbaijan"

				}, {
						"value": "11",
						"title": "Kyrgyzstan"

				}, {
						"value": "12",
						"title": "Armenia"
				}
		]
} %}

{% set sortingTypesSelect = {
		"name": "sorting",
		"id": "sorting",
		"placeholder": "sel1",
		"options": [
				{
						"value": "1",
						"title": "Sort By: Most Popular"

				}, {
						"value": "2",
						"title": "Sort By: Lowest Price"

				}, {
						"value": "3",
						"title": "Sort By: The Highest Price"

				}, {
						"value": "4",
						"title": "Sort By: The Newest"
				}
		]
} %}

{% set priceSelect = {
	"name": "sel1",
	"id": "sel1 ",
	"placeholder": "sel1",
	"options": [
			{
					"value": "1",
					"title": "€ 526.83 (EUR)"
			}, {
					"value": "2",
					"title": "€ 526.83 (EUR)"
			}, {
					"value": "3",
					"title": "€ 526.83 (EUR)"
			}, {
					"value": "4",
					"title": "€ 526.83 (EUR)"
			}
	]
} %}
{% set priceSelect2 = {
	"name": "sel2",
	"id": "sel2 ",
	"placeholder": "sel2",
	"options": [
			{
					"value": "1",
					"title": "€ 526.83 (EUR)"
			}, {
					"value": "2",
					"title": "€ 526.83 (EUR)"
			}, {
					"value": "3",
					"title": "€ 526.83 (EUR)"
			}, {
					"value": "4",
					"title": "€ 526.83 (EUR)"
			}
	]
} %}

{% set vaseSelect = {
	"name": "vase1",
	"id": "vase2",
	"placeholder": "Select",
	"options": [
			{
					"value": "",
					"title": ""
			}, {
					"value": "2",
					"title": "EXTRA GREEN VASE"
			}, {
					"value": "3",
					"title": "TRANSPARENT"
			}, {
					"value": "4",
					"title": "!!!"
			}
	]
} %}

{% set priceSelect3 = {
	"name": "sel3",
	"id": "sel3 ",
	"placeholder": "sel3",
	"options": [
			{
					"value": "1",
					"title": "€ 526.83 (EUR)"
			}, {
					"value": "2",
					"title": "€ 526.83 (EUR)"
			}, {
					"value": "3",
					"title": "€ 526.83 (EUR)"
			}, {
					"value": "4",
					"title": "€ 526.83 (EUR)"
			}
	]
} %}

{% set citySelect = {
	"name": "city-select",
	"id": "city-select ",
	"placeholder": "Service Cities",
	"options": [
			{
					"value": "",
					"title": ""
			},
			{
					"value": "1",
					"title": "Washington"
			}, {
					"value": "2",
					"title": "Paris"
			}, {
					"value": "3",
					"title": "Prague"
			}, {
					"value": "4",
					"title": "Sydney"
			}
	]
} %}

{% set coutryServiceLocations = {
	"name": "service-locations",
	"id": "service-locations",
	"placeholder": "100 Service Locations in Brazil",
	"options": [
			{
					"value": "",
					"title": ""
			}, {
					"value": "1",
					"title": "Rio-De-Janeiro"
			}, {
					"value": "2",
					"title": "San-Paolo"
			}, {
					"value": "3",
					"title": "Brasilia"
			},{
					"value": "4",
					"title": "Salvador"
			}, {
					"value": "5",
					"title": "Fortaleza"
			}, {
					"value": "6",
					"title": "San-PaoloBelo-Horizonte"
			}, {
					"value": "7",
					"title": "Manaus"
			}
	]
} %}

{% set occasionSet =  {
	"name": "main-filter",
	"id": "main-filter",
	"placeholder": "Select Gift or Occasion",
	"options": [
			{
					"value": "",
					"title": ""
			}, {
					"value": "1",
					"title": "Thank You"
			}, {
					"value": "2",
					"title": "Christmas"
			}, {
					"value": "3",
					"title": "Birthday"
			},{
					"value": "4",
					"title": "Get Well"
			}, {
					"value": "5",
					"title": "Graduation"
			}, {
					"value": "6",
					"title": "Congratulations"
			}, {
					"value": "7",
					"title": "Housewarming"
			}
	]
}	%}

{% set datesSet =  {
	"name": "dates-filter",
	"id": "dates-filter",
	"placeholder": "Select Delivery date",
	"options": [
			{
					"value": "",
					"title": ""
			}, {
					"value": "1",
					"title": "Any date available"
			}, {
					"value": "2",
					"title": "Tue - Aug 21, 2018"
			}, {
					"value": "3",
					"title": "Wed - Aug 22, 2018"
			},{
					"value": "4",
					"title": "Thu - Aug 23, 2018"
			}, {
					"value": "5",
					"title": "Fri - Aug 24, 2018"
			}, {
					"value": "6",
					"title": "Sat - Aug 25, 2018"
			}, {
					"value": "7",
					"title": "Mon - Aug 27, 2018"
			}
	]
}	%}

{% set tooltip = "Our payment processing is always completed in US Dollars (USD). The price in other currency is estimated based on the today's bank rate. 

If your account currency is not USD - the actual amount charged in your currency may be slightly different based on your bank's current rate on the date of transaction. 

Current exchange rate is estimated: 

Please see Google Finance website for more details." %}

{% set giftsSet =  {
	"name": "gifts-filter",
	"id": "gifts-filter",
	"placeholder": "Select a gift",
	"options": [
			{
					"value": "",
					"title": ""
			}, {
					"value": "1",
					"title": "Baby Gift Baskets"
			}, {
					"value": "2",
					"title": "Beer Gift Baskets"
			}, {
					"value": "3",
					"title": "Cakes"
			},{
					"value": "4",
					"title": "Champagne Gifts"
			}, {
					"value": "5",
					"title": "Chocolate Gift Baskets"
			}, {
					"value": "6",
					"title": "Cookies Gifts"
			}, {
					"value": "7",
					"title": "Corporate Gifts"
			}, {
					"value": "8",
					"title": "Flowers"
			}, {
					"value": "9",
					"title": "Fruit Baskets"
			}, {
					"value": "10",
					"title": "Gift Towers"
			}, {
					"value": "11",
					"title": "Gourmet Gift Baskets"
			},{
					"value": "12",
					"title": "Personalized Gifts"
			}, {
					"value": "13",
					"title": "Spa Gifts"
			}, {
					"value": "14",
					"title": "Spirits"
			}, {
					"value": "15",
					"title": "Sweet Gourmet Gifts"
		}
	]
}	%}

{% set recipientsSet =  {
	"name": "recipients-filter",
	"id": "recipients-filter",
	"placeholder": "Select a recipients",
	"options": [
			{
					"value": "",
					"title": ""
			}, {
					"value": "1",
					"title": "Gifts For Bosses"
			}, {
					"value": "2",
					"title": "Gifts For Business Associates"
			}, {
					"value": "3",
					"title": "Gifts For Couples"
			},{
					"value": "4",
					"title": "Gifts For Exchange Students"
			}, {
					"value": "5",
					"title": "Gifts For Friends"
			}, {
					"value": "6",
					"title": "Gifts For Host Family"
			}, {
					"value": "7",
					"title": "Gifts For Kids"
			}, {
					"value": "8",
					"title": "Gifts For Men"
			}, {
					"value": "9",
					"title": "Gifts For Newborns"
			}, {
					"value": "10",
					"title": "Gifts For Women"
			}, {
					"value": "11",
					"title": "ALL GIFTS"
			}
	]
}	%}