{% set c= [
		{
				"title": 'Gifts in Brazil',
				"list": [
						{
								"text": "Same day delivery",
								"link": "https://www.giftbasketsoverseas.com/specialty-themes/Same-Day-Delivery-to-brazil.htm",
								"icon": "24-hours"
						}, {
								"text": "Baby Gift Baskets",
								"link": "https://www.giftbasketsoverseas.com/gifts/Baby-Gift-Baskets-in-brazil.htm"
						}, {
								"text": "Balloons",
								"link": "https://www.giftbasketsoverseas.com/gifts/Balloons-in-brazil.htm"
						}, {
								"text": "Beer Gift Baskets",
								"link": "https://www.giftbasketsoverseas.com/gifts/Beer-Gift-Baskets-in-brazil.htm"
						}, {
								"text": "Cakes",
								"link": "#"
						}, {
								"text": "Champagne Gifts",
								"link": "#"
						}, {
								"text": "Chokolate Gift Baskets",
								"link": "#"
						}, {
								"text": "Cookies Gifts",
								"link": "#"
						}, {
								"text": "Track OrderCorporate Gifts",
								"link": "#",
								"icon": "gift-box"
						}
				]
		}, 
		{
				"title": 'Customer Care',
				"list": [
						{
								"text": "Same day delivery",
								"link": "#",
								"icon": "gift-box"
						}, {
								"text": "Baby Gift baskets",
								"link": "#"
						}, {
								"text": "Delivery Policy",
								"link": "#"
						}, {
								"text": "Delivery Area",
								"link": "#"
						}, {
								"text": "FAQ",
								"link": "#"
						}, {
								"text": "How to Order",
								"link": "#"
						}, {
								"text": "Payments",
								"link": "#"
						}, {
								"text": "Testimonials",
								"link": "#"
						}, {
								"text": "Track Order",
								"link": "#"
						}
				]
		}
] %}