.icon-24-hours {
  width: 1em;
  height: 1em;
  fill: #3c6;
}
.icon-alipay {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-amex {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-baby-basket {
  width: 0.93em;
  height: 1em;
  fill: initial;
}
.icon-bars {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-bolero {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-burger {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cargo-track {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-chevron-down {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-chevron-left {
  width: 0.63em;
  height: 1em;
  fill: initial;
}
.icon-chevron-right {
  width: 0.63em;
  height: 1em;
  fill: initial;
}
.icon-chokolat_free {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-clock-blue {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-diners {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-discover {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-four-squares-button {
  width: 1em;
  height: 1em;
  fill: #3c6;
}
.icon-free {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.icon-gift-box {
  width: 1em;
  height: 1em;
  fill: #3c6;
}
.icon-giro-pay {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-globe-blue {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-googleplus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ideal {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-info {
  width: 1em;
  height: 1em;
  fill: #d8d8d8;
}
.icon-jcb {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-linkedin {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-lock {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
.icon-map-marker {
  width: 1em;
  height: 1em;
  fill: #2e7a99;
}
.icon-master-card {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-menu-burger {
  width: 1.22em;
  height: 1em;
  fill: initial;
}
.icon-minus {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-mol-pay {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-money {
  width: 1.08em;
  height: 1em;
  fill: initial;
}
.icon-next-slide-button {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-no-alcohol {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-oxxo {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-payoneer {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-paypal {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-pinterest {
  width: 0.75em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-poli {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-prev-slide-button {
  width: 1em;
  height: 1em;
  fill: #2E7A99;
}
.icon-qiwi {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-ria {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #929292;
}
.icon-sofort {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-spreadsheet {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-square-inside-a-circle {
  width: 1em;
  height: 1em;
  fill: #2e7a99;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-union-pay {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-video {
  width: 1.43em;
  height: 1em;
  fill: initial;
}
.icon-visa {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-western-union {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-wire-transfer {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-wordpress {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
